version: '3.0'

services:
  service-discovery:
    build:
      context: ./service-discovery
    container_name: service-discovery
    ports:
      - "8083:8080"
    volumes:
      - ./service-discovery:/app
      - ~/.m2:/root/.m2
    networks:
      - app-network
  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    ports:
      - "8085:8080"
    volumes:
      - ./auth-service:/app
      - ~/.m2:/root/.m2
    depends_on:
      - service-discovery
    networks:
      - app-network
  user-service:
    build:
      context: ./user-service
    container_name: user-service
    volumes:
      - ./user-service:/app
      - ~/.m2:/root/.m2
    depends_on:
      - service-discovery
    networks:
      - app-network
  chat:
    build:
      context: ./chat
    container_name: chat
    volumes:
      - ./chat:/app
      - ~/.m2:/root/.m2
    depends_on:
      - service-discovery
      - auth-service
    networks:
      - app-network
  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
      - "8086:8080"
    volumes:
      - ./gateway-service:/app
      - ~/.m2:/root/.m2
    depends_on:
      - service-discovery
      - auth-service
      - user-service
      - chat 
    networks:
      - app-network
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - gateway-service
    networks:
      - app-network
  
networks:
  app-network:
    driver: bridge